[*.cs]
# [ IDE0001 ] 이름을 단순화할 수 있습니다.
dotnet_diagnostic.IDE0001.severity = none

# [ IDE0002 ] 이름을 단순화할 수 있습니다.
dotnet_diagnostic.IDE0002.severity = none

# [ IDE0034 ] 'default' 식을 단순화할 수 있습니다.
dotnet_diagnostic.IDE0034.severity = none

# [ IDE0047 ] 괄호를 제거할 수 있습니다.
dotnet_diagnostic.IDE0047.severity = none

# [ IDE0300 ] 컬렉션 초기화를 단순화할 수 있습니다.
dotnet_diagnostic.IDE0300.severity = none


csharp_indent_switch_labels = true